# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales locales
venv/
.venv/
env/

# Variables de entorno y datos locales (Seguridad)
.env
*.db
*.sqlite
data/

# Configuración local del Editor (VS Code)
.vscode/
.idea/
*.suo

# Archivos de sistema
.DS_Store
Thumbs.db

# Imágenes de prueba
*.jpg
*.png